.home-page{
    display: relative;
}

.about{
    display: flex;
    justify-content: center;
    background-color: #808f9b;
}

.left-col-about{
    padding-top: 95px;
}

.right-col-about{
    padding-top:20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    
    margin-left:30px;

}

p{
    margin: 8px 0;
}

.skills{
    display: flex;
    background-color: #90abbf;
    
}