.home-page{
  
   margin-top: 2px;
   background:#eff5ff;
    z-index: -1;
}

.home-title{
    margin:2rem 3rem;
    color:#373E98;
}

.about-content{
    
    display: flex;
    justify-content: center;
    color: black;
 
}

.about p {
    padding: 0;
    margin: 3px;;
}

.name{
    color: rgb(162, 150, 42);
}

.left-col-about{
    padding-top: 95px;
}

.right-col-about{
    padding-top:10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    
    margin-left:30px;
    font-size:18px;

}




.skills{
    margin-top: 3px;
}
.myswiper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
}

hr{
    border-top: 1px solid #b6b9e3;;
}

.swiper{
    margin-right: 60px;
    margin-left: 60px;
}