.footer{
    background-color:  #d1ddff ;
    color: #63561a;

   
    
}

.socialMedia{
    display: flex;
    justify-content: center;

}

.socialMedia svg{
    font-size: 32px;
    cursor: pointer;
    margin: 16px 30px;
}