.footer{
    background-color:  #2a3842 ;
    color: white;

   
    
}

.socialMedia{
    display: flex;
    justify-content: center;

}

.socialMedia svg{
    font-size: 38px;
    cursor: pointer;
    margin: 20px 30px;
}