.footer{
    background-color:  #f9f3f3 ;
    color: #373E98;

   
    
}

.socialMedia{
    display: flex;
    justify-content: center;

}

.socialMedia svg{
    font-size: 32px;
    cursor: pointer;
    margin: 16px 40px;
}