.project-item{
    margin:20px 30px;
    width: 465px;
    text-align: justify;
    background-color: #b5d3ea;
    border-radius: 3rem;
    cursor: pointer;
}

.project-img{
   
   
    width: 350px;
    height:260px;
    margin-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;

    
}

.project-images{
    display: flex;
    justify-content: center;
}

.project-title{
    text-align: center;
}